@page "/test1"
<h3>Test Page 1</h3>
<hr/>
<AuthorizeView>
	<Authorized>
		<p>You are logged in and can see this page!</p>
	</Authorized>
	<NotAuthorized>
		<p>You must login to view the conten on this page</p>
	</NotAuthorized>
</AuthorizeView>

@code {
	string testString { get; set; }

	protected override async Task OnInitializedAsync()
	{
		testString = "Test String Value";
	}
}