@page "/"

<h3>Home Page</h3>
<hr/>
<p/>
<p/>
<AuthorizeView>
	<Authorized>
		<p>You are logged in! @context.User.Identity.Name</p>
		<span>Logout: </span>
		<NavLink href="Identity/Account/Logout">https://localhost:7060/Identity/Account/Logout</NavLink>
	</Authorized>
	<NotAuthorized>
		<p>You are currently not logged in</p>
		<span>Login: <NavLink href="Identity/Account/Login">https://localhost:7060/Identity/Account/Login</NavLink></span>
		<p>Register: <NavLink href="Identity/Account/Register">https://localhost:7060/Identity/Account/Register</NavLink></p>
		
	</NotAuthorized>
</AuthorizeView>
@*<p></p>
<p>@isAuthenticated</p>*@
@code {
	//[CascadingParameter]
	//public Task<AuthenticationState> AuthenticationStateTask { get; set; }
	//public string isAuthenticated { get; set; }

	//protected override async Task OnInitializedAsync()
	//{
	//	var authState = await AuthenticationStateTask;
	//	var user = authState.User;
	//	if (user.Identity.IsAuthenticated)
	//	{
	//		isAuthenticated = "You should have access to this page";
	//	}
	//	else
	//	{
	//		isAuthenticated = "You should not have access to this page";
	//	}
	//}
}