<nav class="navbar header-navbar p-0">
    <button class="navbar-toggler bg-primary d-block" @onclick="OnToggleClick">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="ms-3 fw-bold title pe-4">ExcelManagement.DxBlazor</div>
    <div class="ms-auto pe-4">
        <AuthorizeView>
	        <Authorized>
                <span>@context.User.Identity.Name </span>
                <NavLink class="btn btn-link me-2" href="Identity/Account/Logout">Logout</NavLink>
            </Authorized>
            <NotAuthorized>
                <NavLink class="btn btn-link" href="/register">Register</NavLink>
                <NavLink class="btn btn-link me-2" href="Identity/Account/Login">Login</NavLink>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</nav>

@code {
    [Parameter] public bool ToggleOn { get; set; }
    [Parameter] public EventCallback<bool> ToggleOnChanged { get; set; }

    async Task OnToggleClick() => await Toggle();

    async Task Toggle(bool? value = null) {
        var newValue = value ?? !ToggleOn;
        if(ToggleOn != newValue) {
            ToggleOn = newValue;
            await ToggleOnChanged.InvokeAsync(ToggleOn);
        }
    }
}