<div class="sidebar @StateCssClass">
<DxTreeView AllowSelectNodes="true" CssClass="app-sidebar">
    <Nodes>
        <DxTreeViewNode NavigateUrl="./" Text="Home"></DxTreeViewNode>
        <DxTreeViewNode NavigateUrl="fileselection" Text="Excel Document"></DxTreeViewNode>
        <AuthorizeView>
            <DxTreeViewNode NavigateUrl="test1" Text="Test Page 1"></DxTreeViewNode>
            <DxTreeViewNode NavigateUrl="test2" Text="Test Page 2"></DxTreeViewNode>
            <DxTreeViewNode NavigateUrl="test2" Text="Test Page 2"></DxTreeViewNode>
        </AuthorizeView>
    </Nodes>
</DxTreeView>
</div>

@code {
    [Parameter] public string? StateCssClass { get; set; }
}